.settings
.buildpath
.project
.idea
nbproject
local
vendor
docs
build
*~
certs/*.pfx
certs/*.pem
config/*.json
composer.lock
examples/Betha/testaGerarNfseRps.php
examples/Betha/testaConsultarNfsePorFaixa.php
examples/Betha/testaCancelarNfse.php
